/* header style */
header nav li{
    list-style: none;
   
}
header nav ul a {
    text-decoration: none;
    font-size: 20px;
    color: black;
   
}
.fr{
    
  background-color:#696A75;
   width: 250px;
  padding: 20px;
 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.navigation{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}
.met{
    font-size: 30px;
    font-weight: bold;
}
.ulnav{
    display: flex;
    gap: 30px;
}
/* hero section */
.hero-image{
    margin-top: 30px;
   max-width: 870px;
   display: flex;
   
}
/* body section */
.container{
  margin-left: 150px;
  margin-right: 200px;

}
.palce{
    height: 100px;
    width: 850px;
    background-color: #E8E8EA;
    margin-top: 60px;
    margin-left:60px;
    border-radius: 12px;
    padding-bottom: 20px;
    
}
.ad{
    font-size: 14px;
    text-align: center;
    padding-top:6px;
    color: #696A75;
    font-weight: 600;
}
.ads{
    font-size: 20px;
    font-weight: 800;
    color: #696A75;
    text-align: center;
}
.post{
    font-size: 24px;
    font-weight: bold;
}
        /* blog cards section */
.tech{
    font-size: 14px;
    font-weight: 500;
    color: #4B6BFB;
}
.the{
    font-size: 24px;
    font-weight: 600;
}
.at{
    font-size: 16px;
    color: #97989F;
}
.box{
    display: flex;
    gap: 10px;
    justify-content: center;
}
/* footer section */
.ft{
     background-color: #E8E8EA;
     width: full;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
  
}
.lik{
    list-style: none;
}
.rt{
    font-size: 18px;
    font-weight: bold;
}